<!-- ===================TAKE OPRATOR=================== -->
<button data-label="Register" class="rainbow-hover" (click)="Take()">
    <span class="sp">Take</span>
</button>&nbsp;&nbsp;

<!-- ===================TAKEUNTIL OPRATOR=================== -->
<button data-label="Register" class="rainbow-hover" (click)="takeUntil()">
    <span class="sp">TakeUntil</span>
</button>&nbsp;&nbsp;

<button data-label="Register" class="rainbow-hover" (click)="takeUntil2()">
    <span class="sp">TakeUntil2</span>
</button>&nbsp;&nbsp;